<div class="container_menu">
    <div class="menu_logo">
        <img src="/ps-logo.png" alt="PS-Store logo" width="140px" height="32px">
    </div>

    <div class="menu_item">
        <ul>
            <li><a href="https://www.linkedin.com/in/gabriel-matos-ramos/">Linkedin</a></li>
            <li><a href="https://github.com/Dinos-s">Github</a></li>
            <!-- <li><span>•</span></li> -->
            <li><a href="https://www.instagram.com/gabriel_de_matos_ramos/">Intagram</a></li>
        </ul>
    </div>
</div>
